.button-green {
  background-color: #6cce49;
  color: white;
  transition-duration: 0.5s;
  border: 0;
}
.button-green:hover {
  background-color: rgb(8, 197, 8);
}

ul > li > a:hover {
  background-color: #88d66c;
  color: white;
   border-radius: 20px;
}
ul > li > a.active {
  border: 2px solid #88d66c;
  color: #36ed05;
  border-radius: 20px;
}
ul > li > a.active:hover {
  border: 2px solid #88d66c;
  color: white;
}

form > input:focus {
  border: 2px solid #88d66ce8;
  outline: none;
  box-shadow: 0 0 5px 4px #88d66c5b;
}
form > select:focus {
  border: 2px solid #88d66ce8;
  outline: none;
  box-shadow: 0 0 5px 4px #88d66c5b;
}

form > input::placeholder {
  color: #9ca3afa8;
  font-size: 12px;
}
form > select {
  color: rgb(109, 108, 108);
  font-size: 12px;
}


/* footer */
div > p > a:hover {
  text-decoration: underline;
}

.social > a:hover {
  color: #88d66c;
}
.links > a:hover {
  color: #88d66c;
  text-decoration: underline;
}
